* {
  margin: 0;
  padding: 0;
  font-size: calc(0.05vw + 16px);
}

main {
  display: flex;
  justify-content: center;
}

#hourly-weather-display {
  width: 98vw;
  height: 10vw;
  display: flex;
  overflow-x: auto;
  border: 3px solid black;
}

.weather-block {
  height: 100%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 0.9rem;
}

.icon {
  width: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.temp {
  font-size: 1.1rem;
}
