* {
margin: 0;
padding: 0;
}

button {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  border-style: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0.5vw 1vw;
  box-sizing: border-box;
  width: 10vw;
  gap: 3vh;
}

main {
  position: relative;
  left: 10vw;
  width: 90vw;
}

body {
  font-size: calc(0.05vw + 16px);
}

.hidden {
  display: none;
}

#form-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  justify-content: center; 
  align-items: center;
}

#form-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  justify-content: center; 
  align-items: center;

  background: rgba(0, 0, 0, 0.35);
}

#todo-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem 2.5rem;
  background: white;

  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

  min-width: 280px;
  max-width: 420px;
}

#todo-form>input {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}

#todo-form>:last-child {
  display: flex;
  justify-content: space-around;
}

#todo-form>:last-child>button {
  width: 5vw;
  aspect-ratio: 4 / 1;
  padding: 0.3rem;
  border-radius: 1rem;
}

.project{
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.todo {
  display: flex;
  border: solid 2px black;

}

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5vh 1vw;
  flex: 20;
}

.container>.complete-state {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 2rem;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  background-color: transparent;
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
  cursor: default;
  user-select: none;
}

.todo-button {
  font-size: 1em;
  padding: 0.5rem;
  border-radius: 1rem;
}

.delete-button {
  flex: 1;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
  border-left: solid 1px black;
}

.project-text {
  font-size: 2rem;
  font-weight: bold;
}

nav>:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.project-button {
  font-size: 1.2rem;
  background-color: white;
  padding: 0.2rem;
  border: 4px black solid;
  cursor: default;
  user-select: none;
}